<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        body {
            color: white;
            background-color: #040404;
        }
    </style>

    <title>OIDC SAML Demo</title>
</head>
<body>
<div class="w-full h-screen flex items-center justify-center p-4">
    <div class="flex flex-col gap-4 items-center p-4 bg-neutral-800 rounded w-[400px]">
        <div class="w-full bg-neutral-900 rounded px-4 py-2 flex flex-col gap-1">
            <div class="flex gap-2 items-center justify-between text-neutral-300 text-sm">
                <span>Logged in as:</span>
                <span>{{ login_method }}</span>
            </div>
            <span class="font-bold text-neutral-200">{{ username }}</span>
        </div>
        <div class="h-[1px] bg-neutral-700 rounded" style="width: calc(100% + 1rem);"></div>
        <div class="w-full flex flex-col gap-2">
            <span class="ml-1 text-lg">
                {% if login_method == LoginMethod::SAML %}
                    Attributes:
                {% else %}
                    User info:
                {% endif %}
            </span>
            <div class="w-full flex flex-col gap-2">
                {% for (key, attr) in scope_values %}
                <div class="w-full bg-neutral-900 rounded px-4 py-2 flex flex-col">
                    <div class="flex gap-2 items-center justify-between text-neutral-300 text-sm">
                        <span>{{ key }}</span>
                        {% if attr.attribute_type.to_ascii_lowercase() == "string" ||
                        attr.attribute_type.to_ascii_lowercase() == "xs:string" %}
                        <span class="text-green-500">{{ attr.attribute_type }}</span>
                        {% else %}
                        <span class="text-blue-500">{{ attr.attribute_type }}</span>
                        {% endif %}
                    </div>
                    <span class="text-neutral-200">{{ attr.value }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
        <a href="{{ logout_url }}"
           class="outline-none px-3 py-1 bg-neutral-200 hover:bg-neutral-300 focus:bg-neutral-400 transition-colors text-black rounded w-full text-center w-max">
            Logout
        </a>
    </div>
</div>
</body>
</html>