<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        body {
            background-color: #040404;
        }
    </style>

    <title>OIDC SAML Demo</title>
</head>
<body>
<span>Logged in as {{ username }} ({{ login_method }})</span>
<div>
    {% for (key, value) in scope_values %}
    <span>{{ key }}: {{ value }}</span>
    {% endfor %}
</div>
<a href="/oidc/logout">Logout</a>
</body>
</html>