<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        body {
            color: white;
            background-color: #040404;
        }
    </style>

    <title>OIDC SAML Demo</title>
</head>
<body class="h-screen">
<div class="w-full h-screen flex items-center justify-center p-4">
    <div class="flex flex-col gap-4 items-center p-8 bg-neutral-800 rounded w-[400px]">
        <span>Welcome!</span>
        <a href="{{ oidc_login_url }}"
           class="focus:outline outline-offset-1 outline-2 outline-sky-400 px-3 py-1 bg-neutral-200 hover:bg-neutral-300 focus:bg-neutral-300 transition-colors text-black rounded w-full text-center">
            OIDC Login
        </a>
        <a href="{{ saml_login_url }}"
           class="focus:outline outline-offset-1 outline-2 outline-sky-400 px-3 py-1 bg-neutral-200 hover:bg-neutral-300 focus:bg-neutral-300 transition-colors text-black rounded w-full text-center">
            SAML Login
        </a>
    </div>
</div>
</body>
</html>